.btn {
	-webkit-appearance: none;
	-moz-appearance: none;
	display: inline-block;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	text-decoration: none;
	font-family: var(--f-main);
	font-weight: 700;
	letter-spacing: 1px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	background: var(--c-red);
	transition: all 250ms ease-out;
	font-size: 1.4em;
	padding: .7em 2em;
}

.btn svg {
	fill: #fff;
	width: 1em;
	height: 1em;
}

.btnSm {
	-webkit-appearance: none;
	-moz-appearance: none;
	display: inline-block;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	text-decoration: none;
	font-family: var(--f-main);
	font-weight: 700;
	letter-spacing: 1px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	background: var(--c-red);
	transition: all 250ms ease-out;
	font-size: 1.2em;
	padding: .5em 1.5em;
}

.btnSm svg {
	fill: #fff;
	width: 1em;
	height: 1em;
}

.btnLg {
	-webkit-appearance: none;
	-moz-appearance: none;
	display: inline-block;
	border: none;
	cursor: pointer;
	text-decoration: none;
	transition: all 250ms ease-in-out;
	border-radius: 50px;
	font-family: var(--f-main);
	font-weight: 700;
	letter-spacing: 1px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	background: var(--c-red);
	transition: all .2s ease-out;
	font-size: 1.8em;
	padding: .7em 2em;
}

@media only screen and (min-width: 768px) {
	.btn:hover,
	.btn:active,
	.btnSm:hover,
	.btnSm:active,
	.btnLg:hover,
	.btnLg:active {
		transform: scale(1.1);
		box-shadow: 0 0 20px 5px rgb(214, 0, 0);
	}
}
