.progress {
	background: var(--c-light-grey);
	width: 100%;
	height: .5em;
	margin-bottom: 1em;
	border-radius: 2em;
	overflow: hidden;
}

.bar {
	height: 100%;
	background: var(--c-red);
}

.status {
	font-size: 1.2em;
}
