.card {
	width: calc(50% - .5em);
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, .2);
	margin-bottom: 2em;
	background: var(--c-dark-grey);
	border-radius: 2em;
	transition: all .3s ease-out;
	animation: .2s cubic-bezier(0, 0, .5, .1) 0s 1 normal none running slideIn;
}
.card > * {
	text-decoration: none;
}

.cardHeader {
	padding: .5em;
	font-size: 1.4em;
	text-transform: uppercase;
	letter-spacing: .1em;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--c-light-grey);
}
.card figure {
	height: 20em;
}
.card figure img {
	transition: all .6s ease-out;
	width: 100%;
	height: 100%;
	object-fit: cover;
	filter: grayscale(100%);
}
.card:hover figure img {
	transform: translate(-50%, -50%) scale(1.1);
	filter: none;
}

.cardBody {
	display: block;
	padding: 1em;
	text-align: center;
}

.card h3 {
	line-height: 1em;
	margin-bottom: .2em;
	height: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
}
.card p {
	font-size: 1.4em;
	line-height: 1.2em;
	margin-bottom: 1em;
	height: 3.5em;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--c-light-grey);
}

.cardFooter {
	padding: 1em;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--c-red);
	font-size: 1.6em;
}

@media only screen and (min-width: 768px) {
	.card {
		width: calc((100% / 2) - 4em);
		margin-right: 2em;
		cursor: pointer;
	}
	.card:hover {
		transform: scale(1.005);
		box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.5);
		margin-top: 0;
		background: #322e31;
	}
	.card:last-of-type {
		justify-self: flex-start;
	}
}
