.link {
	letter-spacing: 1px;
	font-size: 1.4em;
	color: var(--c-red);
	font-weight: 700;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	padding-bottom: .3em;
	transition: all .3s ease-out;
	line-height: 1;
	border-radius: 1em;
	padding: .2em .5em;
}

@media only screen and (min-width: 768px) {
	.link:hover {
		color: #fff;
	}
}
