#content {
	width: 70%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	padding: 6em 20em 6em 0;
	position: relative;
	overflow: scroll;
	z-index: 1;
}
#content h2 {
	font-size: 3em;
	margin-top: 6em;
}

#content h2:first-of-type {
	margin-top: 0;
}
#highlight {
	width: 30%;
	height: 100%;
	padding: 6em 0 6em 4em;
	z-index: 1;
}

@media only screen and (max-width: 768px) {
	#content {
		width: 100%;
		padding: 2em;
	}
	#highlight {
		width: 100%;
		padding: 2em;
	}
}

/*
 * card-holder ???
 */
#cardHolder {
	width: 96%;
	max-width: 100em;
	margin: 8em auto;
}

#cardHolder h2 {
	margin-top: 2em;
	line-height: 1;
	text-align: center;
}
